@import "../../shared-styles/colors.scss";

.social-links {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  z-index: 100;

  .social-link {
    writing-mode: vertical-rl;
    width: 1.2em;
    height: 1.2em;
    svg {
      fill: #414140;
    }

    a {
      text-decoration: none;
      color: black;
    }

    &:hover {
      cursor: pointer;

      svg {
        fill: $color-pink;
      }
    }
  }
}

// -- Default -- Mobile portrait
@media (max-width: 479px) {
  .social-links {
    display: none;
  }
}

// Tablet portrait
@media (min-width: 768px) and (max-width: 991px) {
  .social-links {
    display: none;
  }
}

// Tablets landscape
@media (min-width: 992px) and (max-width: 1199px) {
  .social-links {
    display: none;
  }
}

/*iPad Pro 9.7"*/
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .social-links {
    display: none;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .social-links {
    display: none;
  }
  .social-links {
    display: none;
  }
}
/*iPad Pro 10.5"*/
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .social-links {
    display: none;
  }
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .social-links {
    display: none;
  }
}
/*ipad PRo 12.9"*/
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .social-links {
    display: none;
  }
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .social-links {
    top: 16%;
    left: 1.5%;
    width: 1.75em;
    height: 10%;
    flex-direction: column;
    .social-link {
      svg {
        width: 1em;
        height: 1em;
      }
    }
  }
}

// Laptops
@media (min-width: 1200px) and (max-width: 1679px) {
  .social-links {
    top: 16%;
    left: 1.5%;
    width: 1.75em;
    height: 10%;
    flex-direction: column;
    .social-link {
      svg {
        width: 1em;
        height: 1em;
      }
    }
  }
}

// desktops
@media (min-width: 1680px) {
  .social-links {
    top: 16%;
    left: 1.5%;
    width: 1.75em;
    height: 10%;
    flex-direction: column;
    .social-link {
      svg {
        width: 1em;
        height: 1em;
      }
    }
  }
}
