@import "../../shared-styles/colors.scss";

.logo {
  position: absolute;
  font-family: "Playfair Display", serif;
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 700;

    &:before {
      content: "";
      position: absolute;
      top: 0.5em;
      left: 0;
      height: 100%;
      width: 0;
      opacity: 0.3;
      background: $color-light-grey;
      transition: all 0.4s ease-in-out;
    }

    &:hover {
      cursor: pointer;

      &:before {
        width: 100%;
      }
    }
  }
}

// mobile
@media (max-width: 599px) {
  .logo {
    top: 2em;
    left: 1em;
    a {
      font-size: 0.9em;
    }
  }
}

// tublet-portrait
@media (min-width: 600px) {
  .logo {
    top: 2.5em;
    left: 2em;
    a {
      font-size: 1em;
    }
  }
}

// tablet-landscape
@media (min-width: 900px) {
  .logo {
    top: 2.5em;
    left: 2.5em;
    a {
      font-size: 1em;
    }
  }
}

// desktop
@media (min-width: 1200px) {
  .logo {
    top: 2.5em;
    left: 7em;
    a {
      font-size: 1em;
    }
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .logo {
    top: 2.5em;
    left: 10em;
    a {
      font-size: 1em;
    }
  }
}
