$color-text-grey: #5e6575;
$color-pink: #e82a6e;
$color-coral: #fa5259;
$color-blue: #4a00d8;

$color-light-grey: #9f9f9f;
$color-dark-grey: #444544;

$color-orange: #f78f23;

$color-light-sky: #e7f4fb;
$color-sky: #3095cc;
