@import "../../shared-styles/colors.scss";

.nav__logo,
.nav__menu,
.nav__menu-button,
.nav__social,
.nav__creator {
  position: fixed;
  text-transform: uppercase;
  z-index: 100000;
  font-weight: 700;

  a {
    color: white;
  }
}

.nav__menu,
.nav__social {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;

  a {
    &:hover {
      transition: all 0.1s ease-in-out;
      color: #f77905;
    }
  }
}

.nav__logo {
  // font-family: "Marck Script", cursive;
  font-weight: 900;
  a {
    text-decoration: none;
  }
}

.nav__menu {
  align-items: flex-end;

  a {
    text-decoration: none;
  }
}

.nav__social {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a {
    text-decoration: none;
  }
}

.nav__social {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a {
    text-decoration: none;
  }
}

.nav__creator {
  color: #a6a2a2;
}

// mobile
@media (max-width: 599px) {
  .nav__logo {
    top: 1.5%;
    left: 2.5%;
    font-size: 2em;
  }

  .nav__menu-button {
    top: 0.75%;
    right: 6%;
    width: 2em;
    height: 1.5em;
  }

  .nav__social {
    line-height: 1.5em;
    font-size: 0.75em;
  }

  .nav__menu {
    display: none;
  }

  .nav__social {
    display: none;
  }

  .nav__creator {
    display: none;
  }
}

// tublet-portrait
@media (min-width: 600px) {
  .nav__logo {
    top: 2.5%;
    left: 2.5%;
    font-size: 2em;
  }

  .nav__menu-button {
    display: none;
  }

  .nav__social {
    line-height: 1.5em;
    font-size: 0.75em;
  }

  .nav__menu {
    top: 2.5%;
    right: 2.5%;
    display: flex;
    line-height: 2em;
  }

  .nav__social {
    display: none;
  }

  .nav__creator {
    display: none;
  }
}

// tablet-landscape
@media (min-width: 900px) {
  .nav__logo {
    top: 2.5%;
    left: 2%;
    font-size: 1.8em;
  }

  .nav__menu-button {
    display: none;
  }

  .nav__menu,
  .nav__social {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    line-height: 2em;
    font-size: 0.75em;
  }

  .nav__menu {
    top: 2.5%;
    right: 2%;
  }

  .nav__social {
    bottom: 2.5%;
    left: 2%;
  }

  .nav__creator {
    display: block;
    bottom: 2.5%;
    right: 2%;
    font-size: 0.75em;
  }
}

// desktop/laptop
@media (min-width: 1200px) {
  .nav__logo {
    top: 5%;
    left: 2.5%;
    font-size: 1.8em;
  }

  .menu-button {
    display: none;
  }

  .nav__menu,
  .nav__social {
    line-height: 1.7em;
    font-size: 0.85em;
  }

  .nav__menu {
    top: 5%;
    right: 2.5%;
  }

  .nav__social {
    bottom: 5%;
    left: 2.5%;
  }

  .nav__creator {
    bottom: 5%;
    right: 2.5%;
    font-size: 0.85em;
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .nav__logo {
    top: 5%;
    left: 5%;
    font-size: 2em;
  }

  .menu-button {
    display: none;
  }

  .nav__menu,
  .nav__social {
    line-height: 1.8em;
    font-size: 0.95em;
    font-size: 0.95em;
  }

  .nav__menu {
    top: 5%;
    right: 5%;
  }

  .nav__social {
    bottom: 5%;
    left: 5%;
  }

  .nav__creator {
    bottom: 5%;
    right: 5%;
    font-size: 0.95em;
  }
}
