@import "../../shared-styles/colors.scss";

.index-page {
  position: relative;
  width: 100%;
  height: auto;
}

.index-intro {
  position: relative;
  width: 100%;

  .intro__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    filter: brightness(0.85);
  }

  .intro__contacts {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: absolute;

    a {
      font-family: "Oswald", sans-serif;

      // text-transform: uppercase;
      color: white;
      text-decoration: none;
    }
  }

  .intro__social {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .social-link {
      svg {
        transition: all 0.3s ease-in-out;
        fill: white;
      }

      &:hover {
        svg {
          transform: scale(1.5);
        }
      }
    }
  }

  .intro__title {
    width: auto;
    position: absolute;
    text-transform: uppercase;
    color: white;
    font-family: "Oswald", sans-serif;
  }

  .intro__text {
    position: absolute;
    height: auto;
    color: white;
  }
}

// mobile
@media (max-width: 599px) {
  .index-intro {
    height: 100vh;
  }
  .intro__title {
    position: absolute;
    top: 10%;
    right: 15%;
    font-size: 1em;
  }

  .intro__text {
    text-align: center;
    bottom: 15%;
    left: 2.5%;
    width: 95%;
  }

  .intro__contacts {
    font-size: 0.65em;
    width: 95%;
    bottom: 2.5%;
    margin-left: 2.5%;
    justify-content: space-between;
  }

  .intro__social {
    flex-direction: row;
    bottom: 7.5%;
    left: 37.5%;
    width: 25%;
    height: 2.5%;

    .social-link {
      width: 1em;

      svg {
        width: 1em;
        height: 1em;
      }
    }
  }
}

// tublet-portrait
@media (min-width: 600px) {
  .index-intro {
    height: 100vh;
  }
  .intro__title {
    position: absolute;
    top: 7.5%;
    right: 20%;
    font-size: 2em;
  }

  .intro__text {
    text-align: center;
    bottom: 15%;
    left: 2.5%;
    width: 95%;
  }

  .intro__contacts {
    bottom: 5%;
    width: 100%;
    justify-content: center;

    .phone {
      margin-right: 1em;
    }
  }

  .intro__social {
    flex-direction: row;
    bottom: 10%;
    left: 42.5%;
    width: 15%;
    height: auto;

    .social-link {
      width: 1.15em;

      svg {
        width: 1.15em;
        height: 1.15em;
      }
    }
  }
}

// tablet-landscape
@media (min-width: 900px) {
  .index-intro {
    height: 100vh;
  }
  .intro__title {
    position: absolute;
    top: 20%;
    right: 5%;
    font-size: 2em;
  }

  .intro__text {
    text-align: left;
    bottom: 30%;
    left: 50%;
    width: 40%;
  }

  .intro__contacts {
    bottom: 5%;
    right: 5%;
    width: auto;
    font-size: 0.85em;
    text-transform: uppercase;
  }

  .intro__social {
    flex-direction: column;
    bottom: 5%;
    left: 5%;
    width: 5%;
    height: 15%;

    .social-link {
      width: 1.15em;

      svg {
        width: 1.15em;
        height: 1.15em;
      }
    }
  }
}

// desktop/laptop
@media (min-width: 1200px) {
  .index-intro {
    height: 100vh;
  }
  .intro__title {
    position: absolute;
    top: 20%;
    right: 5%;
    font-size: 2.15em;
  }

  .intro__text {
    text-align: left;
    bottom: 30%;
    left: 55%;
    width: 40%;
  }

  .intro__contacts {
    bottom: 5%;
    right: 5%;
  }

  .intro__social {
    flex-direction: column;
    bottom: 5%;
    left: 5%;
    width: 5%;
    height: 15%;

    .social-link {
      width: 1.15em;

      svg {
        width: 1.15em;
        height: 1.15em;
      }
    }
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .index-intro {
    height: 100vh;
  }
  .intro__title {
    position: absolute;
    top: 20%;
    right: 5%;
    font-size: 2.5em;
  }

  .intro__text {
    text-align: left;
    bottom: 30%;
    left: 60%;
    width: 25%;
  }

  .intro__contacts {
    bottom: 5%;
    right: 5%;
  }

  .intro__social {
    flex-direction: column;
    bottom: 5%;
    left: 2.5%;
    width: 5%;
    height: 15%;

    .social-link {
      width: 1.25em;

      svg {
        width: 1.25em;
        height: 1.25em;
      }
    }
  }
}
