.reviews {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  flex-direction: column;

  .prev,
  .next {
    font-weight: bold;
    position: absolute;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    &:hover {
      transition: all 0.4s ease-in-out;
      cursor: pointer;

      &:before {
        top: 0.3em;
      }

      &:after {
        bottom: 0.3em;
      }
    }

    &:before,
    &:after {
      transition: all 0.4s ease-in-out;
      content: "";
      position: absolute;
      width: 12px;
      height: 2px;
      background: black;
    }

    &:before {
      top: 0.3em;
    }

    &:after {
      bottom: 0.3em;
    }
  }

  .prev {
    text-align: right;

    &:after {
      left: 0em;
    }
    &:before {
      left: 1em;
    }

    &:hover {
      &:after {
        left: 1em;
      }

      &:before {
        left: 0em;
      }
    }
  }

  .next {
    text-align: left;

    &:after {
      right: 0em;
    }
    &:before {
      right: 1em;
    }

    &:hover {
      &:after {
        right: 1em;
      }

      &:before {
        right: 0em;
      }
    }
  }
}

.page__title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #1a1a1a;
  margin-top: 1em;
}

.page__subtitle {
  text-transform: uppercase;
  font-size: 0.9em;
}

// mobile
@media (max-width: 599px) {
  .reviews {
    height: calc(100vh - 100px);
    margin-top: 0em;
    .prev {
      left: 2.5%;
    }

    .next {
      right: 2.5%;
    }
    .prev,
    .next {
      top: 30%;
      width: auto;

      &:before,
      &:after {
        display: none;
      }

      &:hover {
        width: auto;
      }
    }
  }

  .page__title {
    font-size: 1.5em;
    letter-spacing: 2px;
    margin-top: 0em;
  }

  .page__subtitle {
    display: none;
  }
}

// tublet-portrait
@media (min-width: 600px) {
  .reviews {
    height: calc(100vh - 100px);
    margin-top: 100px;
    .prev {
      left: 5%;
    }

    .next {
      right: 5%;
    }
    .prev,
    .next {
      top: 28%;
      width: 6em;

      &:hover {
        width: 7em;
      }
    }
  }

  .page__title {
    font-size: 3em;
    letter-spacing: 2px;
    margin-top: 0em;
  }

  .page__subtitle {
    margin-top: 1em;
  }
}

// tablet-landscape
@media (min-width: 900px) {
  .reviews {
    height: calc(100vh - 100px);
    margin-top: 100px;
    .prev {
      left: 15%;
    }

    .next {
      right: 15%;
    }
    .prev,
    .next {
      top: 43%;
      width: 6em;

      &:hover {
        width: 7em;
      }
    }
  }

  .page__title {
    font-size: 3em;
    letter-spacing: 2px;
    margin-top: 0em;
  }

  .page__subtitle {
    margin-top: 1em;
  }
}

// desktop/laptop
@media (min-width: 1200px) {
  .reviews {
    height: calc(100vh - 100px);
    margin-top: 100px;
    .prev {
      left: 25%;
    }

    .next {
      right: 25%;
    }
    .prev,
    .next {
      top: 43%;
      width: 6em;

      &:hover {
        width: 7em;
      }
    }
  }

  .page__title {
    font-size: 3em;
    letter-spacing: 2px;
    margin-top: 0em;
  }

  .page__subtitle {
    margin-top: 1em;
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .reviews {
    height: calc(100vh - 100px);
    margin-top: 100px;

    .prev {
      left: 25%;
    }

    .next {
      right: 25%;
    }
    .prev,
    .next {
      top: 46%;
      width: 6em;

      &:hover {
        width: 7em;
      }
    }
  }

  .page__title {
    font-size: 3em;
    letter-spacing: 2px;
    margin-top: 1em;
  }

  .page__subtitle {
    margin-top: 1em;
  }
}
