$aos-distance: 20px; // It has to be above import
@import "node_modules/aos/src/sass/aos.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  letter-spacing: 1px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  // letter-spacing: 2px;
  font-family: "Source Sans Pro", sans-serif;
  // font-family: "Ubuntu", monospace;
  // font-family: "Roboto", monospace;

  * {
    outline: 0 !important;
  }
}

.content {
  flex: 1 0 auto;
}

.layout-footer {
  flex-shrink: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

p {
  // line-height: 1.65em;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

button {
  &:focus {
    outline: none;
  }
}

.turn {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #1a1a1a;
  z-index: 1200;
  display: none;

  span {
    font-size: 1.5em;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  .turn {
    display: block;
  }
}

// mobile
@media (max-width: 599px) {
  h1 {
    font-size: 2em;
    line-height: 1.25em;
  }

  h2 {
    font-size: 1.625em;
    line-height: 1.15384615em;
  }

  h3 {
    font-size: 1.375em;
    line-height: 1.13636364em;
  }

  p {
    font-size: 0.85em;
    line-height: 1.35em;
  }
}

// tublet-portrait
@media (min-width: 600px) {
  h1 {
    font-size: 2em;
    line-height: 1.25em;
  }

  h2 {
    font-size: 1.625em;
    line-height: 1.15384615em;
  }

  h3 {
    font-size: 1.375em;
    line-height: 1.13636364em;
  }

  p {
    font-size: 1em;
    line-height: 1.65em;
  }
}

// tablet-landscape
@media (min-width: 900px) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125em;
  }

  h2 {
    font-size: 2em;
    line-height: 1.25em;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.25em;
  }

  p {
    font-size: 1em;
    line-height: 1.65em;
  }
}

// desktop/laptop
@media (min-width: 1200px) {
  h1 {
    font-size: 3em;
    line-height: 1.05em;
  }

  h2 {
    font-size: 2.25em;
    line-height: 1.25em;
  }

  h3 {
    font-size: 1.75em;
    line-height: 1.25em;
  }

  p {
    font-size: 1.1em;
    line-height: 1.65em;
  }
}

// desktop x-large
@media (min-width: 1800px) {
  h1 {
    font-size: 3em;
    line-height: 1.05em;
  }

  h2 {
    font-size: 2.25em;
    line-height: 1.25em;
  }

  h3 {
    font-size: 1.75em;
    line-height: 1.25em;
  }

  p {
    font-size: 1.2em;
    line-height: 1.9em;
  }
}
