.footer__copy,
.footer__developer {
  position: fixed;
  bottom: 1em;
  text-transform: uppercase;
  font-size: 0.85em;
  display: none;
}

.footer__developer {
  a {
    text-transform: uppercase;
    color: black;
  }
}

// -- Default -- Mobile portrait
@media (max-width: 479px) {
  .footer {
    display: none;
  }
}

// Tablet portrait
@media (min-width: 768px) and (max-width: 991px) {
  .footer__copy {
    position: fixed;
    left: 2%;
    bottom: 1em;
  }

  .footer__developer {
    position: fixed;
    bottom: 1em;
    right: 2%;
  }
}

// Tablets landscape
@media (min-width: 992px) and (max-width: 1199px) {
  .footer__copy {
    position: fixed;
    left: 2%;
    bottom: 1em;
  }

  .footer__developer {
    position: fixed;
    bottom: 1em;
    right: 2%;
  }
}

/*iPad Pro 9.7"*/
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .footer__copy {
    position: fixed;
    left: 2%;
    bottom: 1em;
  }

  .footer__developer {
    position: fixed;
    bottom: 1em;
    right: 2%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .footer__copy {
    position: fixed;
    left: 2%;
    bottom: 1em;
  }

  .footer__developer {
    position: fixed;
    bottom: 1em;
    right: 2%;
  }
}
/*iPad Pro 10.5"*/
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .footer__copy {
    position: fixed;
    left: 2%;
    bottom: 1em;
  }

  .footer__developer {
    position: fixed;
    bottom: 1em;
    right: 2%;
  }
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .footer__copy {
    position: fixed;
    left: 2%;
    bottom: 1em;
  }

  .footer__developer {
    position: fixed;
    bottom: 1em;
    right: 2%;
  }
}
/*ipad PRo 12.9"*/
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .footer__copy {
    position: fixed;
    left: 2%;
    bottom: 1em;
  }

  .footer__developer {
    position: fixed;
    bottom: 1em;
    right: 2%;
  }
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .footer__copy {
    position: fixed;
    left: 2%;
    bottom: 1em;
  }

  .footer__developer {
    position: fixed;
    bottom: 1em;
    right: 2%;
  }
}

// Laptops
@media (min-width: 1200px) and (max-width: 1679px) {
  .footer__copy {
    position: fixed;
    left: 2%;
    bottom: 1em;
  }

  .footer__developer {
    position: fixed;
    bottom: 1em;
    right: 2%;
  }
}

// desktops
@media (min-width: 1680px) {
  .footer__copy {
    position: fixed;
    left: 2%;
    bottom: 1em;
  }

  .footer__developer {
    position: fixed;
    bottom: 1em;
    right: 2%;
  }
}
