// -- Default -- Mobile portrait
@media (max-width: 479px) {
  .navbar-mobile {
    width: 100%;
    height: 80px;
    background-color: white;
  }
}

// Tablet portrait
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-mobile {
    display: none;
  }
}

// Tablets landscape
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-mobile {
    display: none;
  }
}

/*iPad Pro 9.7"*/
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .navbar-mobile {
    display: none;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .navbar-mobile {
    display: none;
  }
}
/*iPad Pro 10.5"*/
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .navbar-mobile {
    display: none;
  }
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .navbar-mobile {
    display: none;
  }
}
/*ipad PRo 12.9"*/
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .navbar-mobile {
    display: none;
  }
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .navbar-mobile {
    display: none;
  }
}

// Laptops
@media (min-width: 1200px) and (max-width: 1679px) {
  .navbar-mobile {
    display: none;
  }
}

// desktops
@media (min-width: 1680px) {
  .navbar-mobile {
    display: none;
  }
}
