@import "../../shared-styles/colors.scss";

// MAIN
.nav-pannel {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1000000;
}

.nav-closed,
.nav-opened {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #1c1b1b;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-closed {
  transform: translateY(-100%);
}

.nav-opened {
  transform: translateY(-0%);
}

// CLOSE BUTTON
.nav-pannel__close-button {
  position: fixed;
  background-color: transparent;
  border: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    transition: all 0.5s ease-in-out;
    .button-text {
      margin-left: -1em;
    }

    .button-icon {
      .one {
        transform: rotate(0deg);
      }
      .two {
        transform: rotate(0deg);
      }
      .three {
        transform: rotate(0deg);
      }
    }
  }

  .button-icon {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;

    .one,
    .two,
    .three {
      transition: all 0.5s ease-in-out;
      position: absolute;
      background: white;
      height: 2px;
    }

    .one {
      top: 9px;
      right: 14px;
      width: 14px;
      transform: rotate(45deg);
    }

    .two {
      left: 2px;
      bottom: 16px;
      width: 28px;
      transform: rotate(-45deg);
    }

    .three {
      left: 14px;
      bottom: 10px;
      width: 14px;
      transform: rotate(45deg);
    }
  }

  &:hover {
    cursor: pointer;
  }
}

// LINK LIST
.nav-pannel__menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;

  .menu__item a {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }

  .nav-pannel__phone {
    margin-top: 1em;
  }

  .nav-pannel__email,
  .nav-pannel__phone {
    a {
      color: white;
      text-decoration: none;
      font-weight: 300;
    }
  }

  .nav-pannel__social-links {
    margin-top: 2em;
    height: 4em;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;

    .nav-pannel__social-icon {
      width: 1em;
      height: 1em;

      svg {
        width: 0.75em;
        height: 0.75em;
        fill: white;
      }
      &:hover {
        svg {
          fill: $color-orange;
        }
      }
    }
  }
}

// mobile
@media (max-width: 599px) {
  .nav-pannel__close-button {
    top: 0.25em;
    right: 0.25em;
    width: auto;
    height: auto;
  }

  .nav-pannel__menu {
    a {
      font-size: 1em;
      font-weight: 300;
      line-height: 2.5em;
    }
  }

  .nav-pannel__email,
  .nav-pannel__phone {
    a {
      font-size: 0.85em;
    }
  }

  .nav-pannel__social-links {
    margin-top: 1em;
    height: 2em;
    width: 40%;
    margin-left: 30%;
  }
}

// tublet-portrait
@media (min-width: 600px) {
  .nav-pannel__close-button {
    top: 1em;
    right: 0.5em;
  }

  .nav-pannel__menu {
    line-height: 2em;

    a {
      font-size: 1em;
      font-weight: 600;
    }
  }

  .nav-pannel__email,
  .nav-pannel__phone {
    a {
      font-size: 1em;
    }
  }

  .nav-pannel__social-links {
    margin-top: 2em;
    height: 4em;
    width: 40%;
    margin-left: 30%;
  }
}

// tablet-landscape
@media (min-width: 900px) {
  .nav-pannel__close-button {
    top: 1em;
    right: 1em;
  }

  .nav-pannel__menu {
    line-height: 2em;
    a {
      font-size: 1em;

      font-weight: 600;
    }
  }

  .nav-pannel__email,
  .nav-pannel__phone {
    a {
      font-size: 1em;
    }
  }

  .nav-pannel__social-links {
    margin-top: 2em;
    height: 4em;
    width: 40%;
    margin-left: 30%;
  }
}

// desktop
@media (min-width: 1200px) {
  .nav-pannel__close-button {
    top: 5%;
    right: 5%;
  }

  .nav-pannel__menu {
    line-height: 2em;
    a {
      font-size: 1.25em;
      letter-spacing: 2px;
      font-weight: 600;
    }
  }

  .nav-pannel__email,
  .nav-pannel__phone {
    a {
      font-size: 1em;
    }
  }

  .nav-pannel__social-links {
    margin-top: 2em;
    height: 4em;
    width: 40%;
    margin-left: 30%;
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .nav-pannel__close-button {
    top: 4%;
    right: 5%;
  }

  .nav-pannel__menu {
    line-height: 2.5em;
    a {
      font-size: 1.5em;
      letter-spacing: 2px;
    }
  }

  .nav-pannel__email,
  .nav-pannel__phone {
    a {
      font-size: 1em;
    }
  }

  .nav-pannel__social-links {
    margin-top: 2em;
    height: 4em;
    width: 40%;
    margin-left: 30%;
  }
}
