@import "../../shared-styles/colors.scss";

//MAIN
.navbar--hidden {
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  transition: all 0.4s ease-in-out;
  z-index: 1000;
}

.navbar__main {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;

  .services__list {
    display: inline-flex;
    width: auto;

    .text {
      margin-right: 1em;
    }

    .icon {
      margin-left: 0.5em;
      width: 0.8em;
      transform: rotate(90deg);
    }
  }

  .services__list {
    margin-left: 2em;
    .link__wrapper {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;

      &:hover {
        cursor: pointer;
      }

      span {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  .contacts-link,
  .services__list,
  a {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

    &:before {
      content: "";
      position: absolute;
      top: 0.5em;
      left: 0;
      height: 100%;
      width: 0;
      opacity: 0.3;
      background: $color-light-grey;
      transition: all 0.4s ease-in-out;
    }

    &:hover {
      cursor: pointer;

      &:before {
        width: 100%;
      }
    }
  }
}

// mobile
@media (max-width: 599px) {
  .navbar--hidden {
    display: none;
  }

  .navbar {
    display: none;
  }

  .navbar__main {
    display: none;
  }
}

// tublet-portrait
@media (min-width: 600px) {
  .navbar--hidden {
    top: -100px !important;
  }

  .navbar {
    height: 100px;
  }

  .navbar__main {
    display: none;
  }
}

// tablet-landscape
@media (min-width: 900px) {
  .navbar--hidden {
    top: -100px !important;
  }

  .navbar {
    height: 100px;
  }

  .navbar__main {
    display: flex;
    width: 40%;
    margin-left: 30%;
  }
}

// desktop/laptop
@media (min-width: 1200px) {
  .navbar--hidden {
    top: -100px !important;
  }

  .navbar {
    height: 100px;
  }

  .navbar__main {
    display: flex;
    width: 30%;
    margin-left: 40%;
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .navbar--hidden {
    top: -100px !important;
  }

  .navbar {
    height: 100px;
  }

  .navbar__main {
    display: flex;
    width: 25%;
    margin-left: 40%;
  }
}
