@import "../../shared-styles/colors.scss";

//MAIN

.navbar--hidden {
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  transition: all 0.4s ease-in-out;
  z-index: 1000;
}

.navbar__main {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;

  a {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}

// -- Default -- Mobile portrait
@media (max-width: 479px) {
  .navbar--hidden {
    top: -100px !important;
  }

  .navbar {
    height: 100px;
  }

  .navbar__main {
    display: none;
  }
}

// Tablet portrait
@media (min-width: 768px) and (max-width: 991px) {
  .navbar--hidden {
    top: -100px !important;
  }

  .navbar {
    height: 100px;
  }

  .navbar__main {
    display: none;
  }
}

// Tablets landscape
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar--hidden {
    top: -100px !important;
  }

  .navbar {
    height: 100px;
  }

  .navbar__main {
    width: 30%;
    margin-left: 40%;
  }
}

/*iPad Pro 9.7"*/
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .navbar--hidden {
    top: -100px !important;
  }

  .navbar {
    height: 100px;
  }

  .navbar__main {
    width: 30%;
    margin-left: 40%;
  }
}
/*iPad Pro 10.5"*/
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .navbar--hidden {
    top: -100px !important;
  }

  .navbar {
    height: 100px;
  }

  .navbar__main {
    width: 30%;
    margin-left: 40%;
  }
}
/*ipad PRo 12.9"*/
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .navbar--hidden {
    top: -100px !important;
  }

  .navbar {
    height: 100px;
  }

  .navbar__main {
    width: 30%;
    margin-left: 40%;
  }
}

// Laptops
@media (min-width: 1200px) and (max-width: 1679px) {
  .navbar--hidden {
    top: -100px !important;
  }

  .navbar {
    height: 100px;
  }

  .navbar__main {
    width: 30%;
    margin-left: 40%;
  }
}

// desktops
@media (min-width: 1680px) {
  .navbar--hidden {
    top: -100px !important;
  }

  .navbar {
    height: 100px;
  }

  .navbar__main {
    width: 25%;
    margin-left: 40%;
  }
}
